*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.resume-container{
  margin: 20px auto;
  background-color: #ffffff;
  width: 794px;
  /* height: 1123px; */
  box-shadow: #bbb 0 2px 6px 1px;
  padding: 20px 20px;
}
/* 个人信息 */
.information-container{
  width: 100%;
  padding: 10px 10px;
  height: 200px;
  display: flex;
  
}
.key{
  font-weight: 600;
  color: #1d1d1d;
}
#avatar{
  width: 20%;
  height: 100%;
}
#avatar img{
  height: 100%;
}
#baseInfo{
  width: 80%;
}

h3{
  font-size: 25px;
  margin-bottom: 10px;
}
.info-list{
 
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
.item{
  width: calc(100% / 2);
  display: flex;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}

.title{
  width: 100%;
  height: 26px;
  background: #e5e9ed;
  font-size: 15px;
  font-weight: 600;
  color: #284967;
  padding-left: 10px ;
  line-height: 26px;
}
/* 教育经历部分 */
.education-container{
  padding: 5px 10px;
}
.education{
  font-size: 14px;
}
.education > div{
  margin: 5px 0px;
}
.school{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family:  'Segoe UI',Arial,'Microsoft Yahei',sans-serif;
}
.school-name, .time{
  font-weight: 700;
}
/* 技术特长 */
.skill-container{
  width: 100%;
  padding:10px 10px 0px 20px;
  font-size: 14px;
}
.skill-container li{
  margin-bottom: 6px;
}
.project-container{
  width: 100%;
  
}
.project{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  
}
.project-name, .project-time{
  font-weight: 600;
}
.tech-stack{
  font-size: 15px;
  padding-left: 20px;
}
.project-content{
  padding-left: 20px;
  font-size: 14px;
  margin: 5px 0px;
}
.other{
  margin: 20px 10px 0px 10px;
  font-size: 14px;
}
.other span{
  font-weight: 700;
}

